.pie-wrapper{
    margin:auto;
    width:100%;
    padding:20px;
    box-sizing:border-box;

}

.main-summ{
    width:100%;
    margin:auto;
    margin-top:50px;
  
}

.summ-child{
   width:80%;
   margin:auto;
   display: flex;

   align-items:center;
   
  
}

.data-wrapp{

    box-sizing:border-box;
    width:100%;
   display:flex;
   flex-direction: column;
   gap:20px;
   justify-content:
    center;
   margin-bottom:50px
}
.data-wrapp>div{
    position: relative;
    width:max-content;
}
h4{
    font-family: sans-serif;
  font-size:18px;
  display: flex;
  align-items:center;
  gap:20px;
}
p{
    font-family: sans-serif;
    font-size:22px;
    position:absolute;
    z-index: -1;
    top:-30%;
    font-weight: 700;
    color:rgb(181, 181, 255);
}
.data-wrapp>div:nth-child(1)>p{
    left:23%;
   
}
.data-wrapp>div:nth-child(2)>p{
    left:23%;
 
}
.data-wrapp>div:nth-child(3)>p{
    left:23%;
   
}
.icon-img{
    z-index: -1;
    background-color:rgb(253, 109, 109);
    padding:8px;
    height:35px;
    width:35px;
    color:white;
    border-radius: 50%;

}
@media all and (max-width:1024px) and (min-width:279px){
    .summ-child{
        flex-direction: column;
     
        box-sizing:border-box;
        width:85%;
        margin:auto;
    }
    .icon-img{
        width:20px;
        height:20px;
    }
    p{
        font-family: sans-serif;
        font-size:18px;
        position:absolute;
        z-index: -1;
        top:-43%;
        font-weight: 700;
        color:rgb(181, 181, 255);
    }
    .data-wrapp>div:nth-child(1)>p{
        left:15%;
       
    }
    .data-wrapp>div:nth-child(2)>p{
        left:15%;
     
    }
    .data-wrapp>div:nth-child(3)>p{
        left:15%;
       
    }
   
}